#root {
  height: 100vh;
  overflow-x: hidden;
  width: 100%
}

.main-title {
  color: #FFF;
  font-family: Pacifico, cursive;
  left: 50%;
  margin: 0;
  position: fixed;
  text-align: center;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  top: 60px;
  transform: translate(-50%, -50%)
}

.title-bg {
  -webkit-filter: blur(8px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  min-height: 120px;
  transform: scale(1.1);
  width: 100%
}

.main-frame {
  background-color: #FFF;
  padding-top: 50px;
  transform: translateY(-2px)
}

.parliament {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  text-align: center;
  width: 100%
}

.seat {
  border-radius: 50%;
  color: #e0e0e0;
  font-size: 10.7px;
  position: absolute;
  transform: translate(-50%, -50%)
}

.seat-label {
  background-color: #000;
  border-radius: 2px;
  color: #FFF;
  display: none;
  opacity: 0.9;
  padding: 8px;
  position: absolute;
  transform: translate(-50%, -120%);
  z-index: 1
}

.maj span .maj-check {
  display: inline;
  padding-right: 8%
}

.maj {
  border-color: #FFF;
  border-style: none;
  border-width: 2.5px;
  color: #FFF;
  font-size: 10px;
  font-weight: 700;
  height: 0;
  left: 50%;
  padding-left: 4vw;
  position: absolute;
  text-align: left;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  top: 50%;
  transform-origin: left center;
  transition: transform 1s;
  white-space: nowrap;
  width: 55%;
  z-index: 3
}

.maj.simple {
  border-top-style: dashed
}

.maj.abs {
  border-top-style: solid
}

.switch {
  border-radius: 10%;
  height: 5px;
  margin: 40px auto 40px 25px;
  position: relative;
  width: 50%
}

.switch-header {
  color: #bababa;
  margin: auto auto auto 25px;
  position: relative;
  width: 50%
}

.grey-btn {
  background-color: #e0e0e0;
  border-radius: 4px;
  border-style: none;
  font-size: 11px;
  padding: 3px 10px;
  text-transform: uppercase
}

button i, a i {
  margin-right: 5px
}

.switch-header span {
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%)
}

.switch-header span:nth-child(1) {
  left: 20px
}

.switch-header span:nth-child(2) {
  left: 50%
}

.switch-header span:nth-child(3) {
  left: calc(100% - 20px)
}

.switch-btn {
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  height: 40px;
  width: 40px
}

.tool-tip .switch-btn {
  display: inline-block;
  margin: 10px
}

.switch .switch-btn {
  left: calc(50% - 20px);
  margin-top: -20px;
  position: absolute
}

.tool-tip {
  background-color: #000;
  border-radius: 5px;
  color: #FFF;
  display: none;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -110%);
  z-index: 10;
  padding: 5px 10px;
}

.result-component > .tool-tip {
  width: 200px;
}

div:hover>.tool-tip {
  display: inline-block
}

.switch-label {
  color: #bababa;
  font-weight: 700;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transform: translate(calc(100% + 25px), -7.5px)
}

.switch:hover, .seat:hover {
  cursor: pointer
}

.switch-section {
  height: 40px;
  position: absolute;
  top: -17.5px;
  width: calc(50% - 20px)
}

.switch-section:nth-of-type(1) {
  left: 0
}

.switch-section:nth-of-type(2) {
  left: 50%;
  transform: translateX(-50%);
  width: 40px
}

.switch-section:nth-of-type(3) {
  right: 0
}

.switches {
  overflow: hidden auto
}

.votes {
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  border-radius: 50%;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  height: 0;
  left: 50%;
  padding-bottom: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform .7s;
  width: 100%;
  z-index: 1
}

.maj-center {
  background-color: #FFF;
  border-radius: 50%;
  height: 33%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  z-index: 3
}

.maj span {
  display: block;
  transform: rotateZ(180deg)
}

.votes.votes-true {
  background-color: #63be21
}

.votes.votes-false {
  background-color: #e01327
}

.votes.votes-neutral {
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0);
  background-color: #e0e0e0;
  clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0);
  z-index: 0
}

.votes-overlay {
  background-color: #FFF;
  left: -2.5%;
  padding-bottom: 51%;
  position: absolute;
  top: 49.9%;
  width: 105%;
  z-index: 2
}

.button-middle>.grey-btn {
  left: 100%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 6
}

.parl-wrapper:first-of-type {
  margin-right: 15px
}

.parl-wrapper:last-of-type {
  margin-left: 15px
}

.count {
  margin-top: -8vw;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 7;
}

.result-component {
  border-color: #e2e2e2;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: auto 3px;
  position: relative;
  width: 25%
}

.result-component span {
  font-weight: 700
}

.result-component:nth-child(1) {
  background-color: #aae67e;
  border-color: #63be21
}

.result-component:nth-child(2) {
  width: 40%
}

.result-component:nth-child(3) {
  background-color: #ed6f7c;
  border-color: #e01327
}

.count-result {
  animation-duration: 1s;
  animation-name: heartBeat;
  animation-timing-function: ease-in-out;
  border-color: #e2e2e2;
  border-radius: 50%;
  border-style: solid;
  border-width: .5px;
  margin: 20px auto;
  padding-bottom: 50%;
  position: relative;
  width: 50%
}

.count-result>span {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)
}

.row * .row .col-6 {
  text-align: center
}

.row * .row .col-6:first-child {
  padding-left: 25px
}

.row * .row .col-6:last-child {
  padding-right: 25px
}

.twitter-share-button {
  background-color: #1b95e0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  padding: 1px 8px 1px 6px;
  position: relative;
  white-space: nowrap
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 5
}

.card {
  background-color: #fff;
  border-color: #D4D4D4;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 7px 7px 6px -8px rgba(0, 0, 0, 0.45)
}

.dialog-box {
  left: 50%;
  padding: 35px 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%
}

.copiable {
  margin: 15px 0;
  position: relative
}

.copiable textarea {
  background-color: #ececec;
  border-radius: 5px;
  color: #6d6d6d;
  height: 26px;
  overflow-x: auto;
  padding: 0 15px;
  resize: none;
  white-space: nowrap;
  width: 100%
}

::-webkit-scrollbar {
  display: none
}

.copiable button {
  border: 1px solid #6d6d6d;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 0
}

.copiable button:focus {
  outline-style: none
}

.dialog-box p {
  font-size: 13px;
  margin: 0
}

.dialog-box .grey-btn {
  margin: 0 auto
}

.twitter-share-button:active, .twitter-share-button:focus, .twitter-share-button:hover {
  background-color: #0c7abf;
  color: #fff;
  text-decoration: none
}

body, .main-title .secondary-title {
  font-family: Nunito, sans-serif
}

@media max-width 768px {
  .count {
    margin-top: -25vw
  }

  .main-title .secondary-title {
    display: block;
    font-size: 12px;
    white-space: nowrap
  }

  .secondary-title .title-sep {
    display: none
  }

  .switch-label {
    font-size: .65rem
  }

  .button-middle .grey-btn {
    left: auto;
    right: 5%;
    transform: none
  }

  .parliament {
    margin: 25px auto auto;
    padding-bottom: 90vw;
    width: 90vw
  }

  .dialog-box {
    width: 95%
  }
}
